body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
h2{
    font-size: 50px;
}
h3{
    font-size: 30px;
}
.font-color{
    color: rgb(106, 139, 13);
}
.flex-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding: 5px;
}
.half-width img{
    width: 80%;
    height: 500px;
}
.button-class{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: black;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.big-dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.font2-color{
    color: rgb(223, 87, 9);
}
.experiences{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-shadow{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 10px;

    box-shadow: 10px 10px goldenrod;
    box-shadow: 10px 10px 10px rgb(105, 88, 88);
    
}
#beginner{
    border-left: 5px solid;
    border-image: liner-greadient(blue, red);
    border-image-slice: 1;
}
#programmer{
    border-left: 5px solid;
    border-image: liner-greadient(rgb(252, 5, 17), rgb(7, 160, 45));
    border-image-slice: 1;
}
footer p{
text-align:center;
font-size: medium;
}